.App {
	background: lightgray;
}
@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin truncate($lines, $lh: 1.2, $spacer: 0) {
	line-height: $lh;
	max-height: $lh * $lines + $spacer + em;
	// overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: -o-ellipsis-lastline;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
form {
	padding: 24px 0;
	.form-group {
		max-width: 290px;
		margin: 0 auto;
		position: relative;
		input {
			padding-right: 48px;
		}
		button {
			position: absolute;
			right: 0;
			border: 0;
			background: none;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.slick-slider {
	.slick-disabled {
		display: none !important;
	}
	.slick-slide > div {
		margin: 0 10px;
	}
	.slick-list {
		margin: 0 -10px;
	}
}

.list {
	margin: 0 20px;
	&__item {
		background: #fff;
		&--logo {
			width: 40px;
			min-width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}
		&--title {
			margin-left: 8px;
			h3 {
				text-align: left;
				font-size: 14px;
				font-weight: 500;
				@include truncate(1);
			}
		}
		.textWrapper {
			display: flex;
			align-items: center;
			padding: 6px;
		}
	}
}
